.mini-card {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: aliceblue;
}

.mini-card img {
  border: 1px solid aliceblue;
  height: 400px;
  width: 250px;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  margin-bottom: 2%;
  box-shadow: rgba(255, 255, 255, 0.524) 0px 8px 19px,
    rgba(0, 0, 0, 0.22) 0px 7px 6px;
  margin: 0%;
}
