@font-face {
  font-family: Imported;
  src: url(/src/resources/StyleThief-Mz6w.ttf);
}
.App{
  height: 100vh;
  width: 100vw;
  text-align: center;
}

.header {
  font-family: Imported;
  margin: 0%;
  font-size: 100px;
  letter-spacing: 0.08em;
  background: -webkit-linear-gradient(rgb(255, 255, 255), #9d00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 20px;
}